.card {
  flex-basis: 33%;
  background-color: wheat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  margin: 20px 20px;
}
.cardInner {
  padding: 10px 10px;
}
img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
}
.linkTag {
  text-decoration: none;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  