.box {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.btnClose {
  background-color: DodgerBlue;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
  border-radius: 4px;
  text-decoration: none;
}
.popupBtn {
  text-align: right;
}
.button {
  background-color: DodgerBlue;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.btnBottom {
  text-align: center;
  margin-top: 20px;
}

.popup h2 {
  color: #333;
}

.popup .close {
  background-color: DodgerBlue;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}

.popup .title {
  text-align: center;
}

.content select {
  padding: 5px 5px;
}

.popup .mainContent {
  text-align: center;
  margin-top: 10px;
}

.mainContent input {
  padding: 5px 5px;
}
