.App {
  width: 80%;
  margin: 0 auto;
}
.navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.allProducts {
  text-decoration: none;
  background-color: DodgerBlue;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
  border-radius: 4px;
}
.productList {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.main {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.custom-select {
  background-color: DodgerBlue;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
  border-radius: 4px;
}
.addBtn {
  background-color: DodgerBlue;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 4px;
}
